@import '../.././../node_modules/bootstrap/scss/bootstrap.scss';

.TableController {
    width: 100%;
}

.ToggleButton {
    word-break: break-all;
}

@include media-breakpoint-up(sm) {
    .TableController {
        width: 100%;
    }
}

@include media-breakpoint-up(md) {
    .TableController {
        width: 100%;
    }
}

@include media-breakpoint-up(lg) {
    .TableController {
        width: auto;
    }
}

@include media-breakpoint-up(xl) {
    .TableController {
        width: auto;
    }
}

@include media-breakpoint-up(xxl) {
    .TableController {
        width: auto;
    }
}