@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.ChildComment {
    margin-left: 15%;
}

@include media-breakpoint-up(sm) {
    .MoreButton {
        padding: 8px 10px;
        font-size: 20px;
        width: 75%;
    }
}

@include media-breakpoint-up(md) {
    .MoreButton {
        padding: 8px 10px;
        font-size: 20px;
        width: 50%;
    }
}

@include media-breakpoint-up(lg) {
    .MoreButton {
        padding: 8px 10px;
        font-size: 20px;
        width: 35%;
    }
}

@include media-breakpoint-up(xl) {
    .MoreButton {
        padding: 8px 10px;
        font-size: 20px;
        width: 30%;
    }
}

@include media-breakpoint-up(xxl) {
    .MoreButton {
        padding: 8px 10px;
        font-size: 20px;
        width: 25%;
    }
}